<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>新闻编辑</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:News}"/>
<f:form action="update" name="news" object="{news}" >

	<label for="title">
	<f:translate key="tx_neosnews_domain_model_news.title" />
	<f:form.textfield property="title"  value="{news.title}"/>
	</label><br /><br />

	<label for="categoryid">
	<f:translate key="tx_neosnews_domain_model_news.categoryid" />
	<f:form.select property="categoryid"  options="{categories}" optionValueField="uid" optionLabelField="title" value="{news.categoryid}"/>
	</label><br /><br />
		
	<label for="content">
	<f:translate key="tx_neosnews_domain_model_news.content" />
	<f:form.textarea property="content" cols="40" rows="15" value="{news.content}"/>
	</label><br /><br />

	<f:form.submit value="提交" />
	
</f:form>
</f:section>