<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>新闻列表</h1>

<f:flashMessages />

<table  class="tx_neosnews" >
	<tr>
		<th><f:translate key="tx_neosnews_domain_model_news.title" /></th>
		<th><f:translate key="tx_neosnews_domain_model_news.categoryid" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{newss}" as="news">
		<tr>
			<td><f:link.action action="show" arguments="{news : news}"> {news.title}</f:link.action></td>
			<td>
				<f:link.action action="show" arguments="{news : news}">
					<f:render partial="Category/Items" arguments="{category:news.categoryid}" />
				</f:link.action>
			</td>
			<td><f:link.action action="edit" arguments="{news : news}">编辑</f:link.action></td>
			<td><f:link.action action="delete" arguments="{news : news}">删除</f:link.action></td>
		</tr>
	</f:for>
</table>
<br/><br/>
<f:link.action action="new">添加新闻</f:link.action>
</f:section>