<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

	<f:flashMessages />

	<h1>{news.title}</h1>

	<p>
		<f:if condition="{news.categoryid}">
			<f:render partial="Category/Items" arguments="{category:news.categoryid}" />
		</f:if>
	</p>				

	<p>{news.content}</p>

	<f:link.action action="list">Back to list</f:link.action><br />
	<f:link.action action="new">New News</f:link.action>
</f:section>