<label for="title">
	<f:translate key="tx_neosnews_domain_model_news.title" />
</label><br />
	<f:form.textfield property="title" /><br />

<label for="categoryid">
	<f:translate key="tx_neosnews_domain_model_news.categoryid" />
</label><br />
	<f:form.select property="categoryid"  options="{payPal: 'PayPal International Services', visa: 'VISA Card'}" /><br />
	
<label for="content">
	<f:translate key="tx_neosnews_domain_model_news.content" />
</label><br />
	<f:form.textarea property="content" cols="40" rows="15" /><br />