<table class="tx-neos-news" >
	<tr>
		<td>
			<f:translate key="tx_neosnews_domain_model_news.title" />
		</td>
		<td>
			{news.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_neosnews_domain_model_news.content" />
		</td>
		<td>
			{news.content}
		</td>
	</tr>
</table>